body {
  font-family: "Roboto", sans-serif;
  color: #212121;
  cursor: pointer;
}
ul {
  list-style-type: none;
}

li {
  list-style-type: none;
}

.logo {
  width: 145px;
  height: 31px;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.01em;
  text-decoration: none;
  left: 215px;
  margin-top: 24px;
}

.agencja {
  position: absolute;
  width: 53px;
  height: 16px;
  left: 453px;
  top: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #212121;
}
.agencja:hover {
  color: #2196f3;
}
.portfolio {
  position: absolute;
  width: 51px;
  height: 16px;
  left: 550px;
  top: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #212121;
}

.portfolio:hover {
  color: #2196f3;
}

.kontact {
  position: absolute;
  width: 51px;
  height: 16px;
  left: 656px;
  top: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #212121;
}
.kontact:hover {
  color: #2196f3;
}

.email {
  position: absolute;
  width: 135px;
  height: 16px;
  left: 1078px;
  top: 32px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  text-decoration: none;

  color: #757575;
}

.number {
  position: absolute;
  width: 110px;
  height: 16px;
  left: 1263px;
  top: 32px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #757575;
}

.cursorbuttons {
  cursor: pointer;
  background: #000000;
}

.button {
  padding: 0.5em;
  width: 7em;
  margin-left: 3em;
  cursor: pointer;
  margin-top: 70px;
}

.button:hover {
  background-color: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  text-decoration: none;
  color: #ffffff;
}

.img {
  width: 370px;
  height: 294px;
}

.h3 {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
  color: #212121;
}

.p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #757575;
}
.logofooter {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  text-decoration: none;
}
.adres {
  text-decoration: none;
  font-style: normal;
}

.mailfooter {
  text-decoration: underline;
  color: grey;
  font-size: 14px;
}

.numberfooter {
  text-decoration: none;
  color: grey;
  font-size: 14px;
}
