.box-body {
  position: absolute;
  width: 1600px;
  height: 80px;
  left: 0px;
  top: 0px;
  background: #ffffff;
}

.box-dark {
  position: absolute;
  width: 1600px;
  height: 600px;
  left: 0px;
  top: 80px;
  background: #2f303a;
}

.box-light {
  position: absolute;
  width: 1600px;
  height: 648px;
  left: 0px;
  top: 1449px;
  background: #f5f4fa;
}

.box-footer {
  position: absolute;
  width: 1600px;
  height: 252px;
  left: 0px;
  top: 2097px;
  background: #2f303a;
}

ul {
  list-style-type: none;
}

li {
  list-style-type: none;
}
.logo {
  position: absolute;
  width: 145px;
  height: 31px;
  left: 215px;
  top: 24px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: #2196f3;
}

.agencja {
  position: absolute;
  width: 53px;
  height: 16px;
  left: 453px;
  top: 32px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #2196f3;
}

.portfolio {
  position: absolute;
  width: 51px;
  height: 16px;
  left: 550px;
  top: 32px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #212121;
}

.kontact {
  position: absolute;
  width: 51px;
  height: 16px;
  left: 656px;
  top: 32px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #212121;
}

.menu-left ul li {
  display: inline-block;

  vertical-align: top;
  padding-top: 5px;
  padding: 10px;
}

.menu-right ul li {
  display: inline-block;

  vertical-align: top;
  padding-top: 5px;
  padding: 10px;
  padding-left: 20px;
}

.email {
  position: absolute;
  width: 135px;
  height: 16px;
  left: 1078px;
  top: 32px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  text-decoration: none;

  color: #2196f3;
}

.number {
  position: absolute;
  width: 110px;
  height: 16px;
  left: 1263px;
  top: 32px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #757575;
}

.subtitle1 {
  position: absolute;
  width: 270px;
  height: 16px;
  left: 215px;
  top: 774px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #212121;
}

.text1 {
  position: absolute;
  width: 270px;
  height: 75px;
  left: 215px;
  top: 800px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
}

.title {
  position: absolute;
  width: 696px;
  height: 120px;
  left: 452px;
  top: 280px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

.subtitle2 {
  position: absolute;
  width: 270px;
  height: 16px;
  left: 515px;
  top: 774px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}

.text2 {
  position: absolute;
  width: 270px;
  height: 75px;
  left: 515px;
  top: 800px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
}
.subtitle3 {
  position: absolute;
  width: 270px;
  height: 16px;
  left: 815px;
  top: 774px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}

.text3 {
  position: absolute;
  width: 270px;
  height: 75px;
  left: 815px;
  top: 800px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
}
.subtitle4 {
  position: absolute;
  width: 270px;
  height: 16px;
  left: 1115px;
  top: 774px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}

.text4 {
  position: absolute;
  width: 270px;
  height: 75px;
  left: 1115px;
  top: 800px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
}

.title {
  position: absolute;
  width: 696px;
  height: 120px;
  left: 452px;
  top: 280px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  padding-bottom: 30px;
}

.button {
  position: absolute;
  width: 250px;
  height: 30px;
  left: 742px;
  top: 440px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  margin-top: 30px;
  letter-spacing: 0.06em;
  color: #ffffff;
  position: absolute;
  width: 200px;
  height: 50px;
  left: 700px;
  top: 430px;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.title2 {
  position: absolute;
  width: 400px;
  height: 42px;
  left: 624px;
  top: 969px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
}

.img1 {
  position: absolute;
  width: 370px;
  height: 294px;
  left: 215px;
  top: 1061px;
  background: url(close-up-image-programer-working-his-desk-office_1098-18707.jpg);
  mix-blend-mode: normal;
}
.img2 {
  position: absolute;
  width: 370px;
  height: 294px;
  left: 615px;
  top: 1061px;
  background: url(close-up-image-programer-working-his-desk-office_1098-18707.jpg);
  mix-blend-mode: normal;
}
.img3 {
  position: absolute;
  width: 370px;
  height: 294px;
  left: 1015px;
  top: 1061px;
  background: url(close-up-image-programer-working-his-desk-office_1098-18707.jpg);
  mix-blend-mode: normal;
}

.title3 {
  position: absolute;
  width: 300px;
  height: 42px;
  left: 695px;
  top: 1543px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.img21 {
  position: absolute;
  width: 270px;
  height: 260px;
  left: 215px;
  top: 1635px;

  background: url(4853.jpg);
  border-radius: 0px;
}

.JD1 {
  position: absolute;
  width: 72px;
  height: 19px;
  left: 314px;
  top: 1925px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.PD {
  position: absolute;
  width: 140px;
  height: 19px;
  left: 285px;
  top: 1954px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
}

.img22 {
  position: absolute;
  width: 270px;
  height: 260px;
  left: 515px;
  top: 1635px;
  background: url(4853.jpg);
  border-radius: 0px;
}

.JD2 {
  position: absolute;
  width: 72px;
  height: 19px;
  left: 614px;
  top: 1925px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.FD {
  position: absolute;
  width: 147px;
  height: 19px;
  left: 577px;
  top: 1954px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
}

.img23 {
  position: absolute;
  width: 270px;
  height: 260px;
  left: 815px;
  top: 1635px;
  background: url(4853.jpg);
  border-radius: 0px;
}

.JD3 {
  position: absolute;
  width: 72px;
  height: 19px;
  left: 914px;
  top: 1925px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.M {
  position: absolute;
  width: 76px;
  height: 19px;
  left: 912px;
  top: 1954px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
}

.img24 {
  position: absolute;
  width: 270px;
  height: 260px;
  left: 1115px;
  top: 1635px;
  background: url(4853.jpg);
  border-radius: 0px;
}

.JD4 {
  position: absolute;
  width: 72px;
  height: 19px;
  left: 1214px;
  top: 1925px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.UID {
  position: absolute;
  width: 87px;
  height: 19px;
  left: 1207px;
  top: 1954px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
}

.logofooter {
  position: absolute;
  width: 145px;
  height: 31px;
  left: 215px;
  top: 2157px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  /* identical to box height */
  letter-spacing: 0.03em;
  text-decoration: none;
  color: #2196f3;
}

.adres {
  position: absolute;
  width: 246px;
  height: 21px;
  left: 215px;
  top: 2208px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  text-decoration: none;
  /* or 171% */
  letter-spacing: 0.03em;
  color: #ffffff;
}

.mailfooter {
  position: absolute;
  width: 250px;
  height: 21px;
  left: 215px;
  top: 2238px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  text-decoration: none;
  /* or 171% */
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.numberfooter {
  position: absolute;
  width: 231px;
  height: 21px;
  left: 215px;
  top: 2268px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  text-decoration: none;
  /* or 171% */
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
